@import '../var.scss';

.tourdefarce-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: $bittersweet;
    color: $ghost-white;
    z-index: 2;
    position: relative;

    .logo-container {
        display: flex;
        align-items: center;

        img {
            height: 50px;
            margin-right: 10px;
        }
    }

    nav {
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            gap: 20px;

            a {
                text-decoration: none;
                color: $ghost-white;
                transition: color 0.2s;

                &:hover {
                    color: $celestial-blue;
                }
            }
        }
    }
}
