.tour-eiffel-scene {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    
    .serge {
      position: relative;
      margin-right: 10%; // Pour le centrer légèrement tout en restant à droite
      opacity: 0;
  
      img {
        width: 400px; 
        height: auto;
      }
  
      .text-bubble {
        position: absolute;
        top: -90px; 
        left: 50%;
        transform: translateX(-50%); 
        width: 250px;
        height: 100px;
        background: white;
        border-radius: 20px;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        font-size: 16px;
        opacity: 0; 
        color: black;

        }
      
        .billet img {
          width: 200px;
          height: auto;
        }
      }
      /* App.scss */

      /* Définir l'animation */
      .oscillate {
        animation: oscillate 0.8s linear infinite; /* Répéter l'animation indéfiniment */
      }
      @keyframes oscillate {
        0% {
          transform: translateX(0) rotate(0deg); /* Aucun déplacement horizontal ni d'inclinaison */
        }
        50% {
          transform: translateX(20px) rotate(15deg); /* Déplacement vers la droite avec inclinaison */
        }
        100% {
          transform: translateX(0) rotate(0deg); /* Revenir à la position initiale */ 
        }
      }

      .billet {
        animation: billet 0.5s linear infinite; /* Répéter l'animation indéfiniment */
      }
      @keyframes billet {
        0% {
          transform: translateX(0) rotate(0deg); /* Aucun déplacement horizontal ni d'inclinaison */
        }
        50% {
          transform: translateX(0px) rotate(20deg); /* Déplacement vers la droite avec inclinaison */
        }
        100% {
          transform: translateX(0) rotate(0deg); /* Revenir à la position initiale */
        }
      }
      
/* Appliquer l'animation à l'élément avec la classe "oscillate" */


    }